<!--#if expr='v("DOCUMENT_NAME") =~ /index.html/' -->
<!--#include virtual="../cgi/pages_in_category.cgi" -->
<!--#include virtual="../cgi/similar_pages.cgi" -->
<!--#if expr='v("DOCUMENT_NAME") =~ /archives.html/' -->
<!--#else -->
<!--#include virtual="../cgi/similar_pages.cgi" -->
<!--#include virtual="../cgi/comments.cgi" -->
<!--#endif -->
</div>
</div>

<!--#include file="sidebar.html" -->

</div>

<div class="footer">
This site created with the <a href="http://fletcherpenney.net/multimarkdown/cms/">MultiMarkdown CMS</a></div>
</div>
