<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0//EN" "http://www.w3.org/TR/MathML2/dtd/xhtml-math11-f.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Tags</title>
		<!--#include virtual="head.html" -->
	</head>
	<body>
		<!--#include virtual="header.html" -->
		<!--#include virtual="../cgi/tags.cgi" -->

</div>
</div>


<div class="footer">
This site created with the <a href="http://fletcherpenney.net/multimarkdown/cms/">MultiMarkdown CMS</a></div>

</body>
</html>
